extends base.pug
block scripts
  script(src='/static/index.js')

block style
   style
      include ../static/style.css
      include ../static/aboutstyle.css

block content 
        div#container
            h1 About Music Singing 
            p The Our Acadmy  StageWorks Academy is an initiative designed to identify, nurture and create a pool of immensely skillful and passionate professionals who can match national and global demands. Carrying the flag of Sh. Gulshan Kumar, the Academy has been formed with a commitment to foster creativity and talent by offering structured courses in the fields of Film, Music, Dance, and Performing and Media Arts. StageWorks is led by head honcho Mr. Bhushan Kumar, leading Bollywood singer Ms. Tulsi Kumar and her husband Mr. Hitesh Ralhan to establish and operate this noble cause.<br><br>
            p We have opened our academy in Noida where Sh. Gulshan Kumar's T-Series started its incredible journey! Apart from modern infrastructure and world class equipment, the academy boasts of a team of distinguished advisors and a pull of immensely talented faculties for all courses. We are also in the process of extending our wings to open institutes in other cities in India and internationally.<br><br>
            p  The voice is a muscle, and like any muscle in the body can grow and get stronger even into your 70’s when trained People that are diagnosed with “nodes” or “polyps” can in many cases avoid surgery with proper vocal techniques and vocal exercises.singers have no idea what their “true” vocal range is.<br> Many resign themselves to “lower” vocal registers because they do not know how to access their upper register.Many female singers “flip” into their head voice registers too early which inhibits power in the mid voice. over-use of air is one of the biggest “enemies” of the voice.<br>When experiencing cold or flu, it is better to continue to “exercise” the voice with proper training which