doctype html
html
  head
    title Deepak Singing Acadmy
    block scripts
    block style
  body
    nav#navbar 
        ul  
             div#logo 
                img(src="/static/m1.png")
                | DDA
             li #[a(href="/") Home ]
             li #[a(href="/about") About ]
             li #[a(href="/service") Services] 
             li #[a(href="/classinfo") Class Info] 
             li #[a(href="/contact") Contact Us]
    block content
    block#footer
            
         
           
     
       