extends base.pug
block scripts
  script(src='/static/index.js')

block style
   style
      include ../static/style.css
      include ../static/servicestyle.css

block content 
        div#main
            div#container
                h1 Our Services
                h2  Pop Music-
                p Pop is a genre of popular music that originated in its modern form during the mid-1950s in the United States and the United Kingdom.[4] The terms popular music and pop music are often used interchangeably, although the former describes all music that is popular and includes many disparate styles. During the 1950s and 1960s, pop encompassed rock and roll and the youth-oriented styles it influenced. Rock and pop remained roughly synonymous until the late 1960s, after which pop became associated with music that was more commercial, ephemeral, and accessible.<br><br><br>
            div#container-mi
                h2  Rock music-
                p Rock music is a broad genre of popular music that originated as "rock and roll" in the United States in the late 1940s and early 1950s, developing into a range of different styles in the mid-1960s and later, particularly in the United States and the United Kingdom.[1][page needed] It has its roots in 1940s and 1950s rock and roll, a style that drew directly from the black musical genres of blues, rhythm and blues, and from country music. Rock music also drew strongly from a number of other genres such as electric blues and folk, and incorporated influences from jazz, classical, and other musical styles. For instrumentation, rock has centered on the electric guitar, usually as part of a rock group with electric bass, drums, and one or more singers. Usually, rock is song-based music with a 4 time signature using a verse–chorus form, but the genre has become extremely diverse. <br><br><br>
            div#container-sm
                h2  Hip hop-
                p   Hip hop or hip-hop is a culture and art movement that was created by African Americans, Latino Americans and Caribbean Americans in the Bronx, New York City. The origin of the name is often disputed. It is also argued as to whether hip hop started in the South or West Bronx.[1][2][3][4][5] While the term hip hop is often used to refer exclusively to hip hop music (including rap),[6] hip hop is characterized by four key elements: "rapping" (also called MCing or emceeing), a rhythmic vocal rhyming style (orality); DJing (and turntablism), which is making music with record players and DJ mixers (aural/sound and music creation); b-boying/b-girling/breakdancing (movement/dance); and graffiti.[7][2][8][9][10] Other elements are: hip hop culture and historical knowledge of the movement (intellectual/philosophical); beatboxing, a percussive vocal style; street entrepreneurship; hip hop language; and hip hop fashion and style, among others.[11][12][13] The fifth element, although debated, is commonly considered either street knowledge, hip hop fashion, or beatboxing.[2][7] 